// visually hidden class
.accordion-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

// accordion heading styles (includes button)
.accordion-heading {
	display: block;
	margin: 0;
	padding: 0;

	.accordion-button {
		display: inline-flex;
		justify-content: flex-start;
		align-items: center;
		border: none;
		position: relative;
		background: none;
		background-color: none;
		margin: 0;
		padding: 0;
		font-size: inherit;
		cursor: pointer;

		.accordion-icon {
			position: relative;
			top: 2px;
			margin-left: 6px;
			transform: rotate(0);
			transform-origin: center center;
			transition: all 0.3s ease-in-out;

			&.rotated {
				transform: rotate(-45deg);
			}
		}
	}
}

// accordion content
.accordion-content {
	margin: 0;
	margin-bottom: 16px;
	padding: 1em;
	border-radius: 4px;
	border: 1px solid #f6f6f6;
}
