// define colors
$light: #f6f6f6;
$medium: #3f454b;
$dark: #2b2b2b;

// begin
.datatable {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	border-spacing: 0;
	text-align: left;
	font-size: 13pt;

	// default child styles
	caption {
		text-align: left;
		font-size: 16pt;
		margin: 12px 0;
		color: $dark;
		font-weight: 600;
	}

	// thead styles: normal
	thead {
		tr {
			th {
				font-weight: 600;
				padding: 4px 12px;
				text-transform: uppercase;
				letter-spacing: 2px;
				border-bottom: 1px solid $dark;
				color: $dark;
			}
		}
	}

	// tbody styles: normal (hide inline column name)
	tbody {
		tr {
			th,
			td {
				font-weight: 400;
				padding: 16px 12px;

				.hidden-colname {
					display: inline-block;
					clip: rect(1px 1px 1px 1px);
					clip: rect(1px, 1px, 1px, 1px);
					width: 1px;
					height: 1px;
					overflow: hidden;
					white-space: nowrap;
				}
			}
		}
	}
	
	// child styles when classes added at the parent level
	&.row-highlighting {
		tbody {
			tr:nth-child(even) {
				background-color: $light;
			}
		}
	}

	// classes for caption
	&.caption-side-top {
		caption {
			caption-side: top;
		}
	}
	&.caption-side-bottom {
		caption {
			caption-side: bottom;
		}
	}
}

@media (max-width: 892px) {
	.datatable {

		// smaller devices: visually hide table header
		thead {
			position: absolute;
			clip: rect(1px 1px 1px 1px);
			clip: rect(1px, 1px, 1px, 1px);
			width: 1px;
			height: 1px;
			overflow: hidden;
			white-space: nowrap;
		}

		// smaller devices: show inline column names
		tbody {
			tr {
				th,
				td {
					display: flex;
					justify-content: flex-start;
					align-items: center;
					padding: 4px 0;
					padding-left: 12px;

					.hidden-colname {
						display: inline-block;
						clip: auto;
						width: 50%;
						height: 100%;
					}
				}
			}
		}
	}
}
