@import "_accordion_common";

// accordion component
.accordion {
	@include accordion__common;

	// accordion theme: flat
	// minimal hover and focus states
	&.accordion__flat {
		box-shadow: none;
		&:hover,
		&:focus-within {
			.accordion__heading {
				.accordion__toggle {
					.toggle__label {
						text-decoration: underline;
					}
				}
			}
		}
	}

	// accordion theme: focused
	// add a bit more detail: box shadow, hover and focus-within states
	&.accordion__focused {
		box-shadow: $box-shadow;

		.accordion__heading {
			.toggle__icon {
				border-radius: 50%;
			}
		}
		&:hover,
		&:focus-within {
			border-color: $dark;
			.accordion__heading {
				.toggle__label {
					text-decoration: underline;
				}
				.toggle__icon {
					background-color: $dark;
					color: $light;
				}
			}
		}
	}
}

// adhere to reduced motion setting
// enforce instant rotation for button icon
@media (prefers-reduced-motion) {
	.accordion {
		.accordion__toggle {
			.toggle__icon {
				transition: all 1ms ease-in-out;
			}
		}
	}
}
