
// define variables
$text: #3f454b;
$dark: #252525;
$light: #f6f6f6;
$medium: #dad6d6;
$border-radius: 6px;

$shadow: hsla(0, 0%, 0%, 0.2);
$box-shadow: 0 0 6px 4px $shadow;

$leftOffest: 21px;
$breakpoint: 972px;


// import components
@import "_datatable", "_accordion", "_listbox";